# Project dependencies
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules
package-lock.json
.cache/
.firebase/

# Build directory
static/admin/*.bundle.*
.DS_Store
*.env.*
*.log*
